@{
    Layout = "_Layout";
}
@using WebApplication2.Data.ViewModels;
@model ViewModel
    <div id="main" class="text-center">
        <h3><b>Сайт был разработан Shoukko (Ахрорходжаев Шахзод). <br />Для создания использовалось 4 языка: html, css, js, c#<br />Telegram: &#64;Shoukkoo</b></h3>
    </div>
