@{
    Layout = "_Layout";
}
@using WebApplication2.Data.ViewModels;
@model ViewModel
    <div id="main" class="text-center">
        <h3><b>Сайт был разработан Shoukko (Ахрорходжаев Шахзод). Для создания использовалось 4 языка: html, css, js, c#</b></h3>
    </div>
